/* mainPage CSS*/
* {
    margin: 0px;
    padding: 0px;
}

header {
    border: 1px solid black;
    background-color: #c9dbb2;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    min-width: 430px;
}

.banner > span {
    padding: 20px 10px;
}

#mainHome {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#mainHome .home {
    background-color: #f6ffde;
    height: 500px;
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    background-color: beige;
}

#about .about_title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
    padding-top: 20px;
}

#about .about_title ::after {
    content: '';
    display: block;
    background-color: aqua;
    width: 22px;
    height: 3px;
    margin-left: auto;
}

.mRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vh 3vh;
    padding: 100px;
}

.mRow.myImg {
}

.sRow {
    display: flex;
    flex-flow: row wrap;
    pa
}
.l-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#skills .skills_title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
}
